@charset "utf-8";

body,html {
	display: block;
	height: 100%;
	width: 100%;
}
address {
	font-style:normal;
}
/* ---- FONT STYLE ---- */
.fontSS {
	font-size: 0.8em;
}
.fontS {
	font-size: 0.9em;
}
.fontH {
	font-size: 0.95em;
}
.fontHB {
	font-size: 1.05em;
}
.fontB {
	font-size: 1.1em;
}
.fontBB {
	font-size: 1.2em;
}
.font20 {
	font-size: 20px;
}
.bold {
	font-weight: bold;
}
.normal {
	font-weight: normal;
}
.uLine {
	text-decoration: underline;
}
.lineTh {
	text-decoration:line-through;
}
.white {
	color: #fff;
}
.blue {
	color:#3356b8;
}
.ultramarine {
	color:#3750b4;
}
.mossgreen {
	color:#2b711b;
}
.navy {
	color: #039;
}
.red {
	color: #c11;
}
.scarlet {
	color:#fe3a3b;
}
.pink {
	color:#f26;
}
.gray01 {
	color: #666;
}
.gray02 {
	color: #333;
}
.green {
	color: #1d7a10
}
.orange01 {
	color:#ff9600;
}
.orange02 {
	color:#ff7500;
}
.brown01 {
	color:#5e321b;
}
.serif {
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝",  "MS PMincho", "MS 明朝", serif;
}
/* ---- LINE HEIGHT ---- */
.line01 {
	line-height: 1.25;
}
.line02 {
	line-height: 1.5;
}
.line03 {
	line-height: 1.75;
}
.line04 {
	line-height: 2;
}
/* ---- DISPLAY ---- */
.block {
	display: block;
}
.inline {
	display: inline;
}
.inlineBlock {
	display:inline-block;
}
.none {
	display:none;
}
/* ---- TEXT INDENT ---- */
.txIndent {
	text-indent:-9999em;
}
/* ---- POSITION ---- */
.relative {
	position: relative;
}
/* ---- FLOAT ----*/
.fLeft {
	float: left;
}
.fRight {
	float: right;
}
.clear {
	clear: both;
}
.cf:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
}
:root .cf::after { /* IE9 */
	content: ""\9;
	clear: both\9;
	display: block\9;
	height: 0\9;
}
.ov {
	overflow: hidden;
}
/* ---- ALIGN ---- */
.tCenter {
	text-align: center;
}
.tLeft {
	text-align: left;
}
.tRight {
	text-align: right;
}
.vcB {
	vertical-align: bottom;
}
.vcM {
	vertical-align: middle;
}
.vcT {
	vertical-align: top;
}
/* ---- BACK GROUND ---- */
.bgNone {
	background-image: none !important;
}
/* ---- MARGIN-BOTTOM ---- */
.mgb5 {
	margin-bottom: 5px;
}
.mgb10 {
	margin-bottom: 10px;
}
.mgb15 {
	margin-bottom: 15px;
}
.mgb20 {
	margin-bottom: 20px;
}
.mgb25 {
	margin-bottom: 25px;
}
.mgb30 {
	margin-bottom: 30px;
}
.mgb35 {
	margin-bottom: 35px;
}
.mgb40 {
	margin-bottom: 40px;
}
.mgb45 {
	margin-bottom: 45px;
}
.mgb50 {
	margin-bottom: 50px;
}
.mgb55 {
	margin-bottom: 55px;
}
.mgb60 {
	margin-bottom: 60px;
}
/* ---- MARGIN-TOP ---- */
.mgt5 {
	margin-top: 5px;
}
.mgt10 {
	margin-top: 10px;
}
.mgt15 {
	margin-top: 15px;
}
.mgt20 {
	margin-top: 20px;
}
.mgt30 {
	margin-top: 30px;
}

/* ---- MARGIN-RIGHT ---- */
.mgr5 {
	margin-right: 5px;
}
.mgr10 {
	margin-right: 10px;
}
.mgr15 {
	margin-right: 15px;
}
.mgr20 {
	margin-right: 20px;
}
.mgr25 {
	margin-right: 25px;
}
.mgr30 {
	margin-right: 30px;
}
.mgr35 {
	margin-right: 35px;
}
.mgr40 {
	margin-right: 40px;
}
.mgr45 {
	margin-right: 45px;
}
.mgr50 {
	margin-right: 50px;
}
.mgr60 {
	margin-right: 60px;
}
.mgr70 {
	margin-right: 70px;
}
/* ---- MARGIN-LEFT ---- */
.mgl5 {
	margin-left: 5px;
}
.mgl10 {
	margin-left: 10px;
}
.mgl15 {
	margin-left: 15px;
}
.mgl20 {
	margin-left: 20px;
}
.mgl25 {
	margin-left: 25px;
}
.mgl30 {
	margin-left: 30px;
}
.mgl35 {
	margin-left: 35px;
}
.mgl40 {
	margin-left: 40px;
}
.mgl45 {
	margin-left: 45px;
}
.mgl50 {
	margin-left: 50px;
}
.mgl60 {
	margin-left: 60px;
}
.mgl70 {
	margin-left: 70px;
}

/* ---- PADDING ---- */
.pdg5 {
	padding:5px;
}
.pdg10 {
	padding:10px;
}
.pdg15 {
	padding:15px;
}
.pdg20 {
	padding:20px;
}
.pdg25 {
	padding:25px;
}
.pdg30 {
	padding:30px;
}
.pdg35 {
	padding:35px;
}
.pdg40 {
	padding:40px;
}
.pdg50 {
	padding:50px;
}
.pdg60 {
	padding:60px;
}
.pdg70 {
	padding:70px;
}
.pdg80 {
	padding:80px;
}
.pdg90 {
	padding:90px;
}

/* ---- PADDING BOTTOM ---- */
.pdb5 {
	padding-bottom: 5px;
}
.pdb10 {
	padding-bottom: 10px;
}
.pdb15 {
	padding-bottom: 15px;
}
.pdb20 {
	padding-bottom: 20px;
}
.pdb25 {
	padding-bottom: 25px;
}
.pdb30 {
	padding-bottom: 30px;
}
.pdb40 {
	padding-bottom: 40px;
}
.pdb50 {
	padding-bottom: 50px;
}
.pdb60 {
	padding-bottom: 60px;
}
/* ---- PADDING TOP ---- */
.pdt5 {
	padding-top: 5px;
}
.pdt10 {
	padding-top: 10px;
}
.pdt15 {
	padding-top: 15px;
}
.pdt20 {
	padding-top: 20px;
}
.pdt25 {
	padding-top: 25px;
}
.pdt30 {
	padding-top: 30px;
}
.pdt40 {
	padding-top: 40px;
}
.pdt45 {
	padding-top: 45px;
}
.pdt50 {
	padding-top: 50px;
}
.pdt55 {
	padding-top: 55px;
}
.pdt60 {
	padding-top: 60px;
}

/* ---- PADDING RIGHT ---- */
.pdr5 {
	padding-right: 5px;
}
.pdr10 {
	padding-right: 10px;
}
.pdr15 {
	padding-right: 15px;
}
.pdr20 {
	padding-right: 20px;
}
.pdr25 {
	padding-right: 25px;
}
.pdr30 {
	padding-right: 30px;
}
/* ---- PADDING LEFT ---- */
.pdl5 {
	padding-left: 5px;
}
.pdl10 {
	padding-left: 10px;
}
.pdl15 {
	padding-left: 15px;
}
.pdl20 {
	padding-left: 20px;
}
.pdl25 {
	padding-left: 25px;
}
.pdl30 {
	padding-left: 30px;
}

/* ---- WIDTH ---- */
.width01 {
	width: 100px;
}
.width02 {
	width: 200px;
}
.width03 {
	width: 300px;
}
.width04 {
	width: 400px;
}
.width100 {
	width:100%;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
/* ---- MOUSE OVER STYLE ---- */
.over {
	transition: opacity 1s ease-out;
}
.over:hover {
	opacity:0.7;
}
.ios .over:hover {
	opacity:1;
}
.ios .over:active {
	opacity:1;
}
.ios .over:link {
	opacity:1;
}
.ios .over:visited {
	opacity:1;
}
.ios .over::focus {
	opacity:1;
}
	